{{>headerAspirante}}
<br>
<form action="/buscarcursos" , method="post">
  <div class="form-group">
    <label>identificacion del aspirante</label>
    <input type="number" class="form-control" name="identificacion" placeholder="Documento de identidad" required>
    <br>
    <button type="submit" class="btn btn-primary">Ver mis cursos</button>
    <br>
</form>
<br>
{{>footer}}