{{>header}}
<br>
<p>Por favor inicie sesi칩n</p>

<form action="/iniciarsesion" , method="post">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label>Documento de identidad</label>
        <input type="number" class="form-control" name="identificacion" placeholder="Documento" required>
      </div>
      <div class="col">
        <label>Contrase침a</label>
        <input type="password" class="form-control" name="pass" placeholder="Contrase침a del usuario" required>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Iniciar sesi칩n</button>
</form>
<form action="/registrarusuario" , method="get">
  <br>
  <button type="submit" class="btn btn-primary">Registrar usuario</button>
  <br>
</form>
<br>
<div class="alert alert-info" role="alert">
  {{mensaje}}
</div>
<br>
{{>footer}}